html{
    background-color: #061E29;
}

header{
    display: flex;
    justify-content: center;
    color: #F3F4F4;
}

.FlappyCard img{
    width: 150px;
    height: 250px;
    display: block;
    margin: 0 auto 10px auto;
}

.SnakeCard img{
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto 10px auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 50px;
    color: #F3F4F4;
    padding: 10px;           /* space from page edges */
    max-width: 900px;
    margin: 0 auto;          /* center overall grid */
}

.grid div{ 
    background: #1D546D;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 500px;         /* keep card width under control */
}

/* ensure links stack below the content */
.grid a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background: #5F9598;
    color: #F3F4F4;;
    text-decoration: none;
    border-radius: 4px;
}

.grid a:hover {
    background: #5bb1b9;
}
